<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:net="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define TestIFNSService_TargetDir=$(var.TestIFNSService.TargetDir)?>
  <?define TestIFNSLibary_TargetDir=$(var.TestIFNSLibary.TargetDir)?>
  <?define CurrentVersion="!(bind.fileVersion.TestIFNSService.exe)"?>
  <?define Loggers_TargetDir=$(var.Loggers.TargetDir)?>
  <?define LibaryXMLAuto_TargetDir="D:\ProjectC#\WPFLib\WPFLib\LibaryXMLAuto\bin\Debug\"?>
  <?define SqlLibaryIfns_TargetDir="D:\ProjectC#\WPFLib\WPFLib\SqlLibaryIfns\bin\Debug\"?>
  <?define LibaryDocumentGenerator_TargetDir=$(var.LibaryDocumentGenerator.TargetDir)?>
  <?define EfDatabase_TargetDir=$(var.EfDatabase.TargetDir)?>
  <?define SignalRLibary_TargetDir=$(var.SignalRLibary.TargetDir)?>
	<Product Id="*" Name="SetupServiceTestIfns $(var.CurrentVersion)" Codepage="1251" Language="1049" Version="$(var.CurrentVersion)" Manufacturer="ServiceIfns" UpgradeCode="a9ade744-7ad3-477c-9cb3-759214eb7f56">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!--Для обновления программы и наката новой версии-->
    <Upgrade Id="25938fc2-4af2-40ee-b538-29fd6d43cf45">
      <UpgradeVersion OnlyDetect="yes" Minimum="1.0.0.0" IncludeMinimum="yes" Maximum="$(var.CurrentVersion)" IncludeMaximum="no" Property="PREVIOUSFOUND" Language="1049" IgnoreRemoveFailure="yes" />
    </Upgrade>
    
		<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <WixVariable Id="WixUIBunnersBmp" Value="bmp\installer_banner_wix.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="bmp\installer_background_wix.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License\License.rtf" />

    <!--Диалоговые окна по ссылкам UI-->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_MyInstallDir" />
    
		<Feature Id="ProductFeature" Title="SetupServiceTestIfns" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ClearAll" />
			<ComponentRef Id="CreateFolder" />
      <ComponentGroupRef Id="ProgramFilesFolder_files" />
      <ComponentGroupRef Id="ProgramFilesFolder_files_Xsd" />
      <ComponentRef Id="ClearUnistallation" />
      <ComponentRef Id="CreateFolderReport" />
      <ComponentRef Id="CreateLog" />
      <ComponentRef Id="CreateXsd" />
			<!--<ComponentGroupRef Id="Scripts_files" />-->
		</Feature>
	</Product>
    
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SetupServiceTestIfns">
          <Directory Id="INSTALLLOCATION" />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>
  
  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="PathReport" Name="Report">
        <Component Id="CreateFolderReport" Guid="F9DEE3D6-D9EB-4FE4-9FC5-29E9A8D1D1E4">
          <CreateFolder />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  
    <Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="PathLog" Name="Log">
        <Component Id="CreateLog" Guid="D439FD9F-1DA7-431A-8301-30DCF111D606">
          <CreateFolder />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="PathXsd" Name="Xsd">
        <Component Id="CreateXsd" Guid="E9CEF3E5-81FC-4A73-97D8-A66EC30CB793">
          <CreateFolder />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>

      
  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="Path" Name="Xml">
        <Component Id="CreateFolder" Guid="26577311-516C-41F5-8724-FAC1192DCA89">
          <CreateFolder />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
    
  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="ClearUnistallation" Guid="6C456475-ABBB-462D-A3EF-2D5FF170B933">
        <CreateFolder Directory="INSTALLLOCATION" />
        <RemoveFile Id="RemoveFileQBEDATE" On="uninstall" Name="*.*" Directory="Path" />
        <RemoveFolder Id="RemoveFolderQBEDATE" On="uninstall" Directory="Path" />
        <RemoveFile Id="RemoveFileReport" On="uninstall" Name="*.*" Directory="PathReport" />
        <RemoveFolder Id="RemoveFolderReport" On="uninstall" Directory="PathReport" />
        <RemoveFile Id="RemoveFileLog" On="uninstall" Name="*.*" Directory="PathLog" />
        <RemoveFolder Id="RemoveFolderLog" On="uninstall" Directory="PathLog" />
        <RemoveFolder Id="RemoveFolderXsd" On="uninstall" Directory="PathXsd" />
      </Component>
    </DirectoryRef>
  </Fragment>
    
<Fragment>
  <DirectoryRef Id="INSTALLFOLDER">
    <Component Id="ClearAll" Guid="C4349956-E92E-4304-BA58-E7D30A6A77D9">
      <RemoveFile Id="RemoveFileAll" Directory="INSTALLFOLDER" Name="*.*" On="uninstall" />
      <RemoveFolder Id="Removeall" On="uninstall" Directory="INSTALLFOLDER" />
    </Component>
  </DirectoryRef>
</Fragment>
  
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
		<Component Id="TestIFNSService.exe" Guid="35613289-cf8b-4f77-be69-89a42bdac4d3">
		  <File Id="TestIFNSService.exe" Name="TestIFNSService.exe" Source="$(var.TestIFNSService_TargetDir)TestIFNSService.exe" />
      <ServiceInstall Id="ServiceInstall" Type="ownProcess" Interactive="yes" Vital="yes" Description="Служба для TestIfns!!!" Name="ServiceTestIFNS" Start="auto" ErrorControl="normal" />
      <ServiceControl Id="ServiceRemove" Name="ServiceTestIFNS" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
		</Component>
		<Component Id="TestIFNSService.exe.config" Guid="3fc7cbe8-a2da-4d99-b66f-073d89bd44a3">
		  <File Id="TestIFNSService.exe.config" Name="TestIFNSService.exe.config" Source="$(var.TestIFNSService_TargetDir)TestIFNSService.exe.config" KeyPath="yes" Vital="yes" />
      <util:XmlFile Id="ServeceXml" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='PathJurnal'[\]]//@value" Value="[Path]XmlBacup.xml" SelectionLanguage="XPath" Sequence="1" />
      <util:XmlFile Id="ServeceXml1" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='TestDb'[\]]//@value" Value="[TESTDB]" SelectionLanguage="XPath" Sequence="1" />
      <util:XmlFile Id="ServeceXml2" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='WorkDb'[\]]//@value" Value="[WORKDB]" SelectionLanguage="XPath" Sequence="1" />
      <util:XmlFile Id="ServeceXsd1" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='XsdReport'[\]]//@value" Value="[PathXsd]" SelectionLanguage="XPath" Sequence="1" />
      <util:XmlFile Id="DataBase" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='Connect'[\]]//@value" Value="Data Source=[DATABASESQL];Initial Catalog=Taxes51;Integrated Security=True;MultipleActiveResultSets=True" SelectionLanguage="XPath" Sequence="1" />
      <util:XmlFile Id="Report" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='SaveReport'[\]]//@value" Value="[PathReport]" SelectionLanguage="XPath" Sequence="1" />
      <util:XmlFile Id="ReportMassTemplate" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='ReportMassTemplate'[\]]//@value" Value="[PATHREPORTFULL]" SelectionLanguage="XPath" Sequence="1" />
      <util:XmlFile Id="ConnectImns51" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='ConnectImns51'[\]]//@value" Value="Data Source=[SERVERPATHIMNS];Initial Catalog=[DATABASEIMNS];Integrated Security=True;MultipleActiveResultSets=True" SelectionLanguage="XPath" Sequence="1" />
      <util:XmlFile Id="ConnectInventory" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//connectionStrings//add[\[]@name='Inventarization'[\]]//@connectionString" Value="Data Source=[SERVERPATHINVENTORY];Initial Catalog=[DATABASEINVENTORY];Integrated Security=True;MultipleActiveResultSets=True" SelectionLanguage="XPath" Sequence="1" />
      <util:XmlFile Id="ConnectInventoryBulkCopyXmlSto" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//connectionStrings//add[\[]@name='BulkCopyXmlSto'[\]]//@connectionString" Value="provider=SQLOLEDB;data source=[SERVERPATHINVENTORY];database=[DATABASEINVENTORY];integrated security=SSPI" SelectionLanguage="XPath" Sequence="1" />
      <util:XmlFile Id="LoginEpo" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='LoginSto'[\]]//@value" Value="[LOGINEPO]" SelectionLanguage="XPath" Sequence="1" />
      <util:XmlFile Id="PasswordEpo" File="[#TestIFNSService.exe.config]" Action="setValue" ElementPath="//configuration//appSettings//add[\[]@key='PasswordSto'[\]]//@value" Value="[PASSWORDEPO]" SelectionLanguage="XPath" Sequence="1" />
    </Component>
		<Component Id="TestIFNSLibary.dll" Guid="bae45c5b-9bd2-4d6a-a979-dc0d7c13d0cf">
		  <File Id="TestIFNSLibary.dll" Name="TestIFNSLibary.dll" Source="$(var.TestIFNSLibary_TargetDir)TestIFNSLibary.dll" />
		</Component>
		<Component Id="Loggers.dll" Guid="c5c2ed6a-575b-4ed4-9dbc-f460fe587e65">
		  <File Id="Loggers.dll" Name="Loggers.dll" Source="$(var.Loggers_TargetDir)Loggers.dll" />
		</Component>
		<Component Id="NLog.dll" Guid="32976b21-117d-41d7-b72d-10b38eddaf03">
		  <File Id="NLog.dll" Name="NLog.dll" Source="$(var.TestIFNSService_TargetDir)NLog.dll" />
		</Component>
		<Component Id="LibaryXMLAuto.dll" Guid="95c206c5-dbdb-4502-9549-a85fc1187429">
		  <File Id="LibaryXMLAuto.dll" Name="LibaryXMLAuto.dll" Source="$(var.LibaryXMLAuto_TargetDir)LibaryXMLAuto.dll" />
		</Component>
		<Component Id="SqlLibaryIfns.dll" Guid="5290c5bf-accd-4e6d-b3c7-5c806b8d50a9">
		  <File Id="SqlLibaryIfns.dll" Name="SqlLibaryIfns.dll" Source="$(var.SqlLibaryIfns_TargetDir)SqlLibaryIfns.dll" />
		</Component>
		<Component Id="ClosedXML.dll" Guid="2455be23-133f-444d-91d6-37c500bee57a">
		  <File Id="ClosedXML.dll" Name="ClosedXML.dll" Source="$(var.TestIFNSService_TargetDir)ClosedXML.dll" />
		</Component>
		<Component Id="ExcelNumberFormat.dll" Guid="41db810a-bd13-4f23-9651-6f923976efcf">
		  <File Id="ExcelNumberFormat.dll" Name="ExcelNumberFormat.dll" Source="$(var.TestIFNSService_TargetDir)ExcelNumberFormat.dll" />
		</Component>
		<Component Id="FastMember.dll" Guid="54db0ec9-b793-48e2-8a6f-f6c38ebeafe3">
		  <File Id="FastMember.dll" Name="FastMember.dll" Source="$(var.TestIFNSService_TargetDir)FastMember.dll" />
		</Component>
		<Component Id="Newtonsoft.Json.dll" Guid="4b16e079-f550-4f34-9033-69340d9ac3ef">
		  <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.TestIFNSService_TargetDir)Newtonsoft.Json.dll" />
		</Component>
		<Component Id="LibaryDocumentGenerator.dll" Guid="44dbe2c4-54db-4e75-acb7-8037722d00b1">
		  <File Id="LibaryDocumentGenerator.dll" Name="LibaryDocumentGenerator.dll" Source="$(var.LibaryDocumentGenerator_TargetDir)LibaryDocumentGenerator.dll" />
		</Component>
		<Component Id="EntityFramework.dll" Guid="43abbb68-8340-407f-aa89-91c49ada2f2e">
		  <File Id="EntityFramework.dll" Name="EntityFramework.dll" Source="$(var.TestIFNSService_TargetDir)EntityFramework.dll" />
		</Component>
		<Component Id="EfDatabase.dll" Guid="c7667cd4-edfb-43bc-bae8-62ecf9c3eb41">
		  <File Id="EfDatabase.dll" Name="EfDatabase.dll" Source="$(var.EfDatabase_TargetDir)EfDatabase.dll" />
		</Component>
		<Component Id="EntityFramework.SqlServer.dll" Guid="5AB67F89-B8DE-4605-AF29-37BA6769DD44">
		  <File Id="EntityFramework.SqlServer.dll" Name="EntityFramework.SqlServer.dll" Source="$(var.TestIFNSService_TargetDir)EntityFramework.SqlServer.dll" />
		</Component>
		<Component Id="DocumentFormat.OpenXml.dll" Guid="ac6932b8-62f9-457b-87ba-e8aaa354677d">
		  <File Id="DocumentFormat.OpenXml.dll" Name="DocumentFormat.OpenXml.dll" Source="$(var.LibaryDocumentGenerator_TargetDir)DocumentFormat.OpenXml.dll" />
		</Component>
		<Component Id="Microsoft.Owin.dll" Guid="3c6f444e-63d3-4a70-9e5c-20bf1010741a">
		  <File Id="Microsoft.Owin.dll" Name="Microsoft.Owin.dll" Source="$(var.TestIFNSService_TargetDir)Microsoft.Owin.dll" />
		</Component>
		<Component Id="SignalRLibary.dll" Guid="69b86fcb-d2e4-48d4-8bf5-cf117ae01ea1">
		  <File Id="SignalRLibary.dll" Name="SignalRLibary.dll" Source="$(var.SignalRLibary_TargetDir)SignalRLibary.dll" />
		</Component>
		<Component Id="Microsoft.Owin.Hosting.dll" Guid="5f657704-fef7-4e65-941f-04809e6b9e3e">
		  <File Id="Microsoft.Owin.Hosting.dll" Name="Microsoft.Owin.Hosting.dll" Source="$(var.TestIFNSService_TargetDir)Microsoft.Owin.Hosting.dll" />
		</Component>
		<Component Id="Owin.dll" Guid="ae24a36b-1c01-481f-80b2-9fca5f6194f4">
		  <File Id="Owin.dll" Name="Owin.dll" Source="$(var.TestIFNSService_TargetDir)Owin.dll" />
		</Component>
		<Component Id="Microsoft.AspNet.SignalR.Core.dll" Guid="6a50bdc6-3bb1-4311-b171-ebdd9941cf70">
		  <File Id="Microsoft.AspNet.SignalR.Core.dll" Name="Microsoft.AspNet.SignalR.Core.dll" Source="$(var.TestIFNSService_TargetDir)Microsoft.AspNet.SignalR.Core.dll" />
		</Component>
		<Component Id="Microsoft.Owin.Security.dll" Guid="d9bbb81a-0abc-4600-b6da-f4dce3d58db9">
		  <File Id="Microsoft.Owin.Security.dll" Name="Microsoft.Owin.Security.dll" Source="$(var.TestIFNSService_TargetDir)Microsoft.Owin.Security.dll" />
		</Component>
		<Component Id="Microsoft.Owin.Cors.dll" Guid="6141f034-9413-42b5-a5a5-828696d6d7fd">
		  <File Id="Microsoft.Owin.Cors.dll" Name="Microsoft.Owin.Cors.dll" Source="$(var.TestIFNSService_TargetDir)Microsoft.Owin.Cors.dll" />
		</Component>
		<Component Id="System.Web.Cors.dll" Guid="e99e12ac-c9d7-490a-912e-7142d9c683b6">
		  <File Id="System.Web.Cors.dll" Name="System.Web.Cors.dll" Source="$(var.TestIFNSService_TargetDir)System.Web.Cors.dll" />
		</Component>
    <Component Id="Microsoft.Owin.Host.HttpListener.dll" Guid="1AFDD859-4A91-4B1A-9EC1-E2E3BDC198CF">
      <File Id="Microsoft.Owin.Host.HttpListener.dll" Name="Microsoft.Owin.Host.HttpListener.dll" Source="$(var.TestIFNSService_TargetDir)Microsoft.Owin.Host.HttpListener.dll" />
    </Component>
      <Component Id="zxing.dlll" Guid="76E50B26-165A-4C6E-BD2E-2A9E193AB528">
        <File Id="zxing.dll" Name="zxing.dll" Source="$(var.TestIFNSService_TargetDir)zxing.dll" />
      </Component>
      <Component Id="HtmlAgilityPack.dll" Guid="331CF85D-3BD8-49A4-9892-ED5D55F8741E">
        <File Id="HtmlAgilityPack.dll" Name="HtmlAgilityPack.dll" Source="$(var.TestIFNSService_TargetDir)HtmlAgilityPack.dll" />
      </Component>
      <Component Id="LibraryAutoSupportSto.dll" Guid="626AE3D7-02DB-4887-B740-345CA8E2DF8C">
        <File Id="LibraryAutoSupportSto.dll" Name="LibraryAutoSupportSto.dll" Source="$(var.TestIFNSService_TargetDir)LibraryAutoSupportSto.dll" />
      </Component>
      <Component Id="AttributeHelperModelXml.dll" Guid="B834C7C9-6873-4C5E-AD66-2BE9438F011C">
        <File Id="AttributeHelperModelXml.dll" Name="AttributeHelperModelXml.dll" Source="$(var.TestIFNSService_TargetDir)AttributeHelperModelXml.dll" />
      </Component>
		</ComponentGroup>
	</Fragment>
  <Fragment>
    <ComponentGroup Id="ProgramFilesFolder_files" Directory="Path">
      <Component Id="Xml_XmlDS_XmlBacup.xml" Guid="9acc1dac-427a-47c3-8d1a-1b6a5496ae07">
        <File Id="Xml_XmlDS_XmlBacup.xml" Name="XmlBacup.xml" Source="$(var.TestIFNSLibary_TargetDir)Xml\XmlDS\XmlBacup.xml" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ProgramFilesFolder_files_Xsd" Directory="PathXsd">
      <Component Id="Xsd_XsdDS_XsdPassportSto.xsd" Guid="F0E151FB-62AC-4A18-AE5E-70E2203B9F1F">
        <File Id="Xsd_XsdDS_XsdPassportSto.xsd" Name="PassportSto.xsd" Source="$(var.TestIFNSLibary_TargetDir)Xsd\PassportSto.xsd" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
