
@{
    ViewBag.Title = "WWW";
}

<h2>WWW</h2>
<form method="post" action="PostName">
    <p>Введите название книги</p>
    <input type="text" name="title"/>
    <p> Введите автора</p>
    <input type="text" name="autohor"/>
    <input type="submit" value="Отправить"/>
</form>

