<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="CreateFullExe" Version="1.0.0.0" Manufacturer="T" UpgradeCode="e2ee6161-239a-48a9-b60f-7bcf21756560">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense"/>
      
    
		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
      <PackageGroupRef Id="Net45"/>
      <MsiPackage Id="VFPOLEDBSetup" SourceFile="D:\\ProjectAdd\\VFPOLEDB\\VFPOLEDBSetup.msi" Cache="yes" Visible="yes" DisplayInternalUI="yes" Vital="no" ForcePerMachine="yes"/>
         <MsiPackage Id="SetupTestIFNS" SourceFile="D:\\Visual Studio 2012\\MyStudio\\Обучение\\SetupTestIFNS\\bin\\Debug\\ru-Ru\\SetupTestIFNS.msi"  Cache="yes" Visible="yes" DisplayInternalUI="yes" Vital="no"/>
		</Chain>

      

	</Bundle>

  <Fragment>
    <!-- Managed bootstrapper requires .NET as a dependency, since it was written in .NET.
       WiX provides a Bootstrapper for the bootstrapper. The fragment below includes .NET.
       For more information or examples see Heath Stewart's blog or the WiX source:
       http://blogs.msdn.com/b/heaths/archive/2011/10/28/introducing-managed-bootstrapper-applications.aspx
       -->
    <PackageGroup Id="Net45">
      <ExePackage Id="Net45" Name="Microsoft .NET Framework 4.5.1 Setup" Cache="yes" Compressed="yes" PerMachine="yes" Permanent="yes" Vital="no"
                  SourceFile="D:\\ProjectAdd\\NetF\\NDP451-KB2858728-x86-x64-AllOS-ENU.exe"
                  DetectCondition="(Net4FullVersion = &quot;4.5.1&quot;) AND (NOT VersionNT64 OR (Net4x64FullVersion = &quot;4.5.1&quot;))"
                  InstallCondition="(VersionNT >= v6.0 OR VersionNT64 >= v6.0) AND (NOT (Net4FullVersion = &quot;4.5.1&quot; OR Net4x64FullVersion = &quot;4.5.1&quot;))"/>
    </PackageGroup>
  </Fragment>
</Wix>
