<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DBF" connectionString="Provider=vfpoledb.1;Data Source=D:\SrezDBF;Collating Sequence=Machine" />
  </connectionStrings>
  <appSettings>
    <add key="Path" value="C:\Users\7751_svc_admin\Desktop\C\Path\" />
    <add key="Path1" value="C:\Users\7751_svc_admin\Desktop\C\QBEDate\" />
    <add key="Path2" value="C:\Users\7751_svc_admin\Desktop\C\Excel\" />
    <add key="Path3" value="C:\Users\7751_svc_admin\Desktop\C\KVOtchet\" />
    <add key="Path4" value="C:\Users\7751_svc_admin\Desktop\C\Detalizacia\" />
    <!--Пути к файлам MI для 2NDFL-->
    <add key="PathResult" value="\\i7751-app127\2NDFL\Result_{0}\" />
    <add key="PathResultAuto" value="\\i7751-app127\2NDFL\Result_Auto_{0}\" />
  </appSettings>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="BasicHttpBinding_IReaderCommandDbf" closeTimeout="00:05:00"
                openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
                maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        </basicHttpBinding>
        <netTcpBinding>
            <binding name="NetTcpBinding_IReaderCommandDbf">
                <security>
                    <transport sslProtocols="None" />
                </security>
            </binding>
        </netTcpBinding>
    </bindings>
    <client>
        <endpoint address="http://I7751-W40204180:8181/TestIFNSLibary.CommandDbf"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReaderCommandDbf"
            contract="ServiceTestIfns.IReaderCommandDbf" name="BasicHttpBinding_IReaderCommandDbf" />
        <endpoint address="net.tcp://I7751-W40204180:45618/" binding="netTcpBinding"
            bindingConfiguration="NetTcpBinding_IReaderCommandDbf" contract="ServiceTestIfns.IReaderCommandDbf"
            name="NetTcpBinding_IReaderCommandDbf">
            <identity>
                <userPrincipalName value="7751_svc_admin@regions.tax.nalog.ru" />
            </identity>
        </endpoint>
    </client>
  </system.serviceModel>
</configuration>