<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hosting"                       type="CommonComponents.Hosting.Common.Configuration.HostingSection, CommonComponents.Hosting.Common"/>
    <section name="cacheContexts"                 type="CommonComponents.Caching.Configuration.CacheConfigurationSection, CommonComponents.CorLib.Bundle"/>
    <section name="environment"                   type="CommonComponents.CompositeEnvironment.Configuration.EnvironmentSection, CommonComponents.CorLib.Bundle"/>
    <section name="cacheStorage"                  type="CommonComponents.Cache.Configuration.CacheStorageSection, CommonComponents.CorLib.Bundle"/>
  </configSections>

  <!-- секция конфигурирования физического хостинга, определяет имя и роль хостинга -->
  <hosting systemName="INIAS"
           role="logicalcatalog://DmCatalog/StaticMetadata/Configuration/UnifiedClientRole.config" useCurrentAppDomain="true">

    <!-- может содержать только одно опредление логического хоста (нулевой) который запускается при старте физического хостинга -->
    <host name="EnviChildHost"
         assembly="CommonComponents.CorLib.Bundle"
         type="CommonComponents.GenericHost.ApplicationHost"
         roleEnviAddress="logicalcatalog://InfraCatalog/Infra/Environments/UcLoaderEnvi">

      <strategyGroup>
        <chains>
          <add name="Create-Destroy">
            <strategies>
              <add name="CreateServiceCollectionStrategy"
                 instanceType="CommonComponents.CompositeEnvironment.CreateServiceCollectionStrategy, CommonComponents.CorLib.Bundle"/>
              <add name="CreateLoggingServiceStrategy"
                   instanceType="CommonComponents.Instrumentation.CreateLoggingServiceStrategy, CommonComponents.CorLib.Bundle"/>
              <add name="RegistryCachingServicesStrategy"
                   instanceType="CommonComponents.Caching.RegistryCachingServicesStrategy, CommonComponents.CorLib.Bundle"/>
              <add name="RegistryCatalogServicesStrategy"
                   instanceType="CommonComponents.Catalog.RegistryCatalogServicesStrategy, CommonComponents.CorLib.Bundle"/>
              <add name="ManagementStrategy"
                   instanceType="CommonComponents.Management.ManagementStrategy, CommonComponents.CorLib.Bundle"/>
              <add name="CreateApplicationHostStrategy"
                   instanceType="CommonComponents.GenericHost.Strategies.CreateApplicationHostStrategy, CommonComponents.CorLib.Bundle"/>
            </strategies>
          </add >
          <add name="Initialize-Deinitialize">
            <strategies>
              <add name="InitializeChildHostLoaderEnviStrategy"
                   instanceType="CommonComponents.GenericHost.Strategies.InitializeChildHostLoaderEnviStrategy, CommonComponents.CorLib.Bundle"/>
            </strategies>
          </add>
          <add name="Activate-Deactivate">
            <strategies>

            </strategies>
          </add>
        </chains>
        <events>
          <add name="ApplicationHost.BuildUp" direction="Forward" chainName="Create-Destroy"/>
          <add name="ApplicationHost.TearDown" direction="Reverse" chainName="Create-Destroy"/>
          <add name="ApplicationHost.Initialize" direction="Forward" chainName="Initialize-Deinitialize"/>
          <add name="ApplicationHost.Deinitialize" direction="Reverse" chainName="Initialize-Deinitialize"/>
          <add name="ApplicationHost.Activate" direction="Forward" chainName="Activate-Deactivate"/>
          <add name="ApplicationHost.Deactivate" direction="Reverse" chainName="Activate-Deactivate"/>
        </events>
      </strategyGroup>
    </host>
  </hosting>

  <!-- конфигурация среды хоста -->
  <environment name="UnifiedClient.PhysicalHostEnvi">
    <catalogs>
      <!-- Провайдер Сервис -->
      <add name="ProviderService"
           providerType="CommonComponents.CompositeEnvironment.Engine.Composition.TypeCatalogProvider, CommonComponents.CorLib.Bundle"
           types="CommonComponents.CompositeEnvironment.Services.ComposableProviderService, CommonComponents.CorLib.Bundle"/>

      <!-- Сервис точного времени -->
      <add name="TimeService"
           providerType="CommonComponents.CompositeEnvironment.Engine.Composition.TypeCatalogProvider, CommonComponents.CorLib.Bundle"
           types="CommonComponents.TimeService.SntpTimeService, CommonComponents.CorLib.Bundle"/>

      <!-- Сервис обработки ошибок. -->
      <add name="ExceptionHandlingService"
           providerType="CommonComponents.CompositeEnvironment.Engine.Composition.TypeCatalogProvider, CommonComponents.CorLib.Bundle"
           types="CommonComponents.ExceptionHandling.ExceptionHandlingService, CommonComponents.CorLib.Bundle" />

      <!-- сервис создания сред -->
      <add name="EnvironmentService"
           providerType="CommonComponents.CompositeEnvironment.MiniCatalogProvider, CommonComponents.CorLib.Bundle"
           miniCatalogs="CommonComponents.CorLib.Bundle:EnvironmentService"/>

      <!-- конфигурация -->
      <add name="Configuration"
           providerType="CommonComponents.CompositeEnvironment.ConfigurationCatalogProvider, CommonComponents.CorLib.Bundle"/>

      <add name="CacheStorageUnit"
           providerType="CommonComponents.CompositeEnvironment.MiniCatalogProvider, CommonComponents.CorLib.Bundle"
           miniCatalogs="CommonComponents.CorLib.Bundle:CacheStorageUnit"/>
    </catalogs>
  </environment>

  <!-- контексты кэширования -->
  <cacheContexts>
    <!-- кэш хоста -->
    <add name="AppHost.Cache" default="true" providerType="CommonComponents.Caching.Providers.InMemoryCachingProvider, CommonComponents.CorLib.Bundle">
      <parameters>
        <add name="CacheName" value="AppHost_Cache"/>
      </parameters>
    </add>
  </cacheContexts>

  <!-- секция InMemory caching client configuration -->
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="AppHost_Cache" cacheMemoryLimitMegabytes="0"/>
        <add name="CommonComponents.InMemoryCache" cacheMemoryLimitMegabytes="0"/>
        <add name="Business.InMemoryCache" cacheMemoryLimitMegabytes="0"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>

  <appSettings>

    <!--Подключение динамических каталогов в режиме разработки-->
    <add key="DevDynamicCatalogs" value=""/>

    <!--Инструментирование, Управление и профилирование-->
    <add key="EventLogSource" value="Ais3.Client"/>
    <add key="EnableManagement" value="true"/>
    <add key="EnableRealtimeMonitor" value="true"/>
    <add key="EnableCapturingMonitor" value="true"/>
    <add key="EnableFileRealtimeMonitor" value="true"/>

    <!--Подключение заставки при загрузке Приложения-->
    <add key="splash-image" value="SystemCatalog\CSC\Bin\ISFNS.png" />
    <add key="splash-opacity" value="0.85" />

  </appSettings>

  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Common;SystemCatalog\CSC\Bin;SystemCatalog\Abs4.0\Bin"/>
    </assemblyBinding>
  </runtime>-->

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="16" />
    </connectionManagement>
  </system.net>

  <!-- доступные кэши (по умолчанию используется кэш заглушка) -->
  <!-- данные настройки имеют глобальную область действия в рамках хоста -->
  <cacheStorage default="dummyCache">
    <!-- локальный кэш -->
    <add name="localCache" provider="CommonComponents.Cache.InMemoryCachingProvider, CommonComponents.CorLib.Bundle">
      <parameters>
        <add name="CacheName" value="CommonComponents.InMemoryCache"/>
        <add name="Profiling" value="true"/>
      </parameters>
    </add>
    <!-- кэш заглушка -->
    <add name="dummyCache" provider="CommonComponents.Cache.DummyCachingProvider, CommonComponents.CorLib.Bundle">
      <parameters>
        <add name="Profiling" value="true"/>
      </parameters>
    </add>
  </cacheStorage>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
