<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
     <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <!--Для сервиса соединения с БД на уровне обстракций непосредственная работа с БД-->
  <connectionStrings>
    <add name="RiskSyte" providerName="System.Data.SqlClient" connectionString="Data Source=i7751-app001;Initial Catalog=BDK77737751000070020000019757;Integrated Security=True;MultipleActiveResultSets=True" />
    <add name="Inventarization" providerName="System.Data.SqlClient" connectionString="Data Source=i7751-app127;Initial Catalog=Inventarka;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="Connect" value="Data Source=i7751-app001;Initial Catalog=Taxes51;Integrated Security=True;MultipleActiveResultSets=True" />
    <add key="ConectTest" value="Data Source=i7751-app196;Initial Catalog=RISK_TEST;Integrated Security=True;MultipleActiveResultSets=True" />
    <add key="ConectWork" value="Data Source=i7751-app001;Initial Catalog=BDK77737751000070020000019757;Integrated Security=True;MultipleActiveResultSets=True" />
    <add key="ConnectImns51" value="Data Source=i7751-app020;Initial Catalog=imns51;Integrated Security=True;MultipleActiveResultSets=True" />
    <add key="PathJurnal" value="D:\Visual Studio 2012\MyStudio\Обучение\TestIFNSService\bin\Debug\Xml\XmlDS\XmlBacup.xml" />
    <add key="TestDb" value="C:\1" /> <!--Тестовая База данных с которой идут выборки-->
    <add key="WorkDb" value="\\i7751-w00000745\SrezDBF" /> <!--Рабочая База с которой будут делаться копии-->
    <add key="Hours" value="12" />
    <add key="Minutes" value="00" />
    <add key="SaveReport" value="C:\Testing\" />
    <add key="ReportMassTemplate" value="C:\Testing\Template\" />
    <add key="PathDomain" value="LDAP://OU=WorkStations,OU=IFNS7751,OU=UFNS77,DC=regions,DC=tax,DC=nalog,DC=ru"/>
    <add key="FindWorkStations" value="CN=i7751-*"/>
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
  </system.web>
<system.serviceModel>
  <extensions>
    <behaviorExtensions>
      <add name="crossOriginResorseSharingBehavior" type="TestIFNSLibary.Cross.CorsEnablingBehavior, TestIFNSLibary, Version=1.0.0.0, Culture=neutral" />
    </behaviorExtensions>
  </extensions>
  <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint" />
            </announcementEndpoints>
          </serviceDiscovery>
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="100" /><!--Вот эта вещь долго искал эту настройку-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior> 
    </serviceBehaviors>
    <endpointBehaviors>
      <behavior name="webHttpBehavior">
        <webHttp />
        <crossOriginResorseSharingBehavior />
      </behavior>
    </endpointBehaviors>      
  </behaviors>
    <services>
     <service name="TestIFNSLibary.Service.CommandDbf" behaviorConfiguration="mexBehavior">
        <endpoint address="TestIFNSLibary.CommandDbf" binding="basicHttpBinding" contract="TestIFNSLibary.Service.IReaderCommandDbf" bindingConfiguration="longTimeout" />
        <endpoint address="" binding="netTcpBinding" contract="TestIFNSLibary.Service.IReaderCommandDbf" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <endpoint kind="udpDiscoveryEndpoint" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:45618/" />
            <add baseAddress="http://localhost:8181/" />
          </baseAddresses>
        </host>
      </service>
      <service name="TestIFNSLibary.ServiceRest.ServiceRest" behaviorConfiguration="mexBehavior">
        <endpoint address="http://localhost:8181/ServiceRest" binding="webHttpBinding" contract="TestIFNSLibary.ServiceRest.IServiceRest" bindingConfiguration="crossDomain" behaviorConfiguration="webHttpBehavior">
        </endpoint>
      </service>
    <service name="TestIFNSLibary.Inventarka.Inventarka" behaviorConfiguration="mexBehavior">
      <endpoint address="Inventarka" binding="webHttpBinding" contract="TestIFNSLibary.Inventarka.IInventarka" bindingConfiguration="crossDomain" behaviorConfiguration="webHttpBehavior"> 
      </endpoint>
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8182/" />
        </baseAddresses>
      </host>
    </service>
    </services>
   <bindings>
      <basicHttpBinding>
        <binding name="longTimeout" receiveTimeout="00:10:00" sendTimeout="00:05:00" openTimeout="00:05:00" closeTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
     <webHttpBinding>
       <binding name="crossDomain" crossDomainScriptAccessEnabled="true" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" >
       </binding>
     </webHttpBinding>
    </bindings>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>-->
    </system.webServer>  
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File" fileName="Log/nlog.log" layout="${date}|${level}|${message}" />
  </targets>
<rules>
  <logger name="*" minlevel="Debug" writeTo="file" />
  <logger name="*" minlevel="Error" writeTo="file" />
</rules>
</nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>