<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true"  targetFramework="4.5"/>
  </system.web>
<system.serviceModel>
  <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceDiscovery >
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint"/>
            </announcementEndpoints>
          </serviceDiscovery>
          <serviceThrottling maxConcurrentCalls="1"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
     <service name="TestIFNSLibary.CommandDbf" behaviorConfiguration="mexBehavior">
        <endpoint address="TestIFNSLibary.CommandDbf" binding="basicHttpBinding" contract="TestIFNSLibary.IReaderCommandDbf" bindingConfiguration="longTimeout" />
        <endpoint address="" binding="netTcpBinding" contract="TestIFNSLibary.IReaderCommandDbf"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <endpoint kind="udpDiscoveryEndpoint"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8181/"/>
            <add baseAddress="net.tcp://localhost:45618/"/>
          </baseAddresses>
        </host>
      </service>
        </services>
   <bindings>
      <basicHttpBinding>
        <binding name="longTimeout" receiveTimeout="00:10:00" sendTimeout="00:05:00" openTimeout="00:05:00" closeTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
        <directoryBrowse enabled="true"/>
    </system.webServer>  
<system.diagnostics>
  <sources>
    <source name="System.ServiceModel" switchValue="Information, ActivityTrasing" propagateActivity="true">
      <listeners>
        <add name="traceList" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog"/>
      </listeners>
    </source>
  </sources>
</system.diagnostics>
</configuration>