<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true"  targetFramework="4.5"/>
  </system.web>
<system.serviceModel>
  <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceDiscovery >
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint"/>
            </announcementEndpoints>
          </serviceDiscovery>
          <serviceThrottling maxConcurrentCalls="1"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
            </serviceBehaviors>
           <endpointBehaviors>
                <behavior name="WebBehavior">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <services>
           <service name="TestIFNSLibary.WebSevice.Service" behaviorConfiguration="mexBehavior">
                <endpoint address="" binding="webHttpBinding" contract="TestIFNSLibary.WebSevice.IService" behaviorConfiguration="WebBehavior" kind="webHttpEndpoint" />
                <endpoint address="page" binding="webHttpBinding" contract="TestIFNSLibary.WebSevice.IService" behaviorConfiguration="WebBehavior" kind="webHttpEndpoint"/>
                <endpoint address="mex" binding="webHttpBinding" contract="IMetadataExchange"/>
               <host>
                <baseAddresses>
                 <add baseAddress="http://localhost:8181/TestIFNSLibary/WebSevice/Service"/>
                 <add baseAddress="net.tcp://localhost:45618/TestIFNSLibary/WebSevice/Service"/>
                </baseAddresses>
              </host>
            </service>
     <service name="TestIFNSLibary.CommandDbf" behaviorConfiguration="mexBehavior">
        <endpoint address="TestIFNSLibary.CommandDbf" binding="basicHttpBinding" contract="TestIFNSLibary.IReaderCommandDbf" bindingConfiguration="longTimeout" />
        <endpoint address="TestIFNSLibary.CommandDbf" binding="netTcpBinding" contract="TestIFNSLibary.IReaderCommandDbf"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <endpoint kind="udpDiscoveryEndpoint"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8181/TestIFNSLibary/CommandDbf"/>
            <add baseAddress="net.tcp://localhost:45618/TestIFNSLibary/CommandDbf"/>
          </baseAddresses>
        </host>
      </service>
        </services>
   <bindings>
      <basicHttpBinding>
        <binding name="longTimeout" receiveTimeout="00:10:00" sendTimeout="00:05:00" openTimeout="00:05:00" closeTimeout="00:05:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
        <directoryBrowse enabled="true"/>
    </system.webServer>  
</configuration>