<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define Кнопка_TargetDir=$(var.Кнопка.TargetDir)?>
	<Product Id="0C7E0919-5546-4EE2-9083-0BC116566768" Name="TestWix" Codepage="1251" Language="1049" Version="1.0.0.0" Manufacturer="MyProject" UpgradeCode="6f0eeb9a-99b4-4c0a-bd80-30173ad51997">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="au3.ico" SourceFile="$(var.ProjectDir)au3.ico" />
    <Property Id="ARPPRODUCTICON" Value="au3.ico" />

     <WixVariable Id="WixUIBunnersBmp" Value="bmp\installer_banner_wix.bmp" />
     <WixVariable Id="WixUIDialogBmp" Value="bmp\installer_background_wix.bmp" />
    
    <!--Диалоговые окна по ссылкам UI-->
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_MyInstallDir" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="TestWix" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="AppShortcut" />
      <ComponentRef Id="AppShortcutDesktop" />
			<ComponentGroupRef Id="Path1_files" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <!--<Directory Id="TESTFILEPRODUCTDIR" Name="TestWix">-->  <!--Закоментировано выбор указание пути для Dialog Окна или просто пути -->
          <Directory Id="INSTALLFOLDER" Name="TestWix">
            <Directory Id="Path1" Name="Path1" />
          </Directory>
        <!--</Directory>-->
			</Directory>
		<Directory Id="ProgramMenuFolder">
      <Directory Id="AppProgramsFolder" Name="TestWix" />
    </Directory>
  <Directory Id="DesktopFolder" Name="Desktop" />
  </Directory>
	</Fragment>

  
  <Fragment>
    <DirectoryRef Id="AppProgramsFolder">
      <Component Id="AppShortcut" Guid="2A95AD36-9F54-45A3-9EB1-6B6E88E62B21">
        <Shortcut Id="AppStartMenuShortcut" Name="TestWix" Description="MyProject" Target="[INSTALLFOLDER]Обучение.exe" />
        <RemoveFolder Id="RemoveAppProgramsFolder" Directory="AppProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\TestWix" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
      <DirectoryRef Id="DesktopFolder">
      <Component Id="AppShortcutDesktop" Guid="BC57C356-38EA-4D50-9979-8F8BF1A2EB40">
        <Shortcut Id="AppStartDesktopShortcut" Name="TestWix" Description="MyProject" Target="[INSTALLFOLDER]Обучение.exe" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\TestWix" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  
  
    
      
      
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="Name.exe" Guid="f0aea86c-3475-40b2-9d71-58419fde1bf5">
			  <File Id="Name.exe" Name="Обучение.exe" Source="$(var.Кнопка_TargetDir)Обучение.exe" />
			</Component>
			<Component Id="Config.exe.config" Guid="2cb130b8-4055-489d-89ed-608e47a78fc5">
			  <File Id="Config.exe.config" Name="Обучение.exe.config" Source="$(var.Кнопка_TargetDir)Обучение.exe.config" />
			</Component>
			<Component Id="Excel.dll" Guid="860cbfb2-f192-45f6-80a6-6ee1feeb0baa">
			  <File Id="Excel.dll" Name="Excel.dll" Source="$(var.Кнопка_TargetDir)Excel.dll" />
			</Component>
			<Component Id="ICSharpCode.SharpZipLib.dll" Guid="e14bfef7-106a-4aea-836a-c82d422f05fa">
			  <File Id="ICSharpCode.SharpZipLib.dll" Name="ICSharpCode.SharpZipLib.dll" Source="$(var.Кнопка_TargetDir)ICSharpCode.SharpZipLib.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="Path1_files" Directory="Path1">
      <Component Id="Path1_TextFile1.txt" Guid="c4992a18-0f7c-49fb-9054-5cd7216a365f">
        <File Id="Path1_TextFile1.txt" Name="TextFile1.txt" Source="$(var.Кнопка_TargetDir)Path1\TextFile1.txt" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>
