<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DBF" connectionString="Provider=vfpoledb.1;Data Source=D:\KLADR;Collating Sequence=Machine"/>
    <add name="SQL" connectionString="Data Source=i7751-w40000722;Initial Catalog=FIASXML;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>

</configuration>