@using System.ServiceModel.Channels
@using WebTest.Models
@{
    ViewBag.Title = "Мой заголовок";
}

<div>
    <h3>Распрожажа книги</h3>
    <table>
        <tr>
            <td>Название книги</td>
            <td>Автор</td>
            <td>Цена</td>
        </tr>
        @{
            try
            {
                foreach (var b in  ViewBag.Books)
                {
                    <tr>
                        <td>@b.Name</td>
                        <td>@b.Author</td>
                        <td>@b.Price </td>
                        <td><p><a href="/Home/Bye/@b.Id">Купить</a></p></td>
                    </tr>
                }
            }
            catch (Exception e)
            {
                <text>@e.ToString()</text>
            }
        }
        
    </table>
    <input type ="button" name="sss" value="Поиск"/>
    <div id="results"></div>
</div>